*.iml
.gradle
/local.properties
/.idea/
.kotlin/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/docs/SPACE_APP_INSTRUCTIONS.md

app/release
app/build
.kotlin/errors
claude-docs/
feature_based_problems.md
app/google-services.json